body {
  background-color: rgb(240, 240, 240);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
